  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@100;200;300;400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;300;400;700&display=swap');

  body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/free-photo/dirty-pattern-paint-room-block_1203-5709.jpg?w=1380&t=st=1674570183~exp=1674570783~hmac=719b384466cf806bae05bc277b597abd61ef2f6aac9776b7b3f04eed7c726c97');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
